[Unit]
Description=AgentGraph Leader Service (Config: %I)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ag leader --config %I
ExecStop=/usr/local/bin/ag shutdown

[Install]
WantedBy=default.target
